@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: satoshi;
  src: url("./assets/fonts/satoshi.ttf");
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: satoshi, sans-serif;
  transition: all ease-in-out 0.3s;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.cutoff-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.cutoff-text-1 {
  -webkit-line-clamp: 1;
}
.cutoff-text-2 {
  -webkit-line-clamp: 2;
}
.cutoff-text-3 {
  -webkit-line-clamp: 3;
}
